@using DT.PCP.Web.Resources.Views.Shared
@{
    ViewBag.Title = "Как посмотреть данные об авто?";
}

<div class="span12">
    <header style="text-align: center; margin-bottom: 35px">
        <h1>Как посмотреть данные об авто?</h1>
    </header>
</div>
<div class="row-fluid">
    @Html.ActionLink(InstructionsViewStrings.ButtonContents, "Index", "Support",null, new {@class = "btn btn-primary btn-large pull-right"})
</div>
<div class="span12">
    <p>После ввода номера авто+номер тех. паспорта, либо номера авто+номера предписания пользователь переходит на страницу списка нарушений.</p>
</div>
<div class="span12" style="text-align: center">
    <img src="@Url.Content("~/Images/profile.png")"/>
</div>
<div class="span12">
    <p>При просмотре профиля владельца автомобиля доступнка кнопка <strong style="color: #5ca1e2;">&laquo;Проверить&raquo;</strong>. Нажатие на кнопку позволяет получить данные из системы регистрации нарушений и обновить данные профиля. После нажатия кнопки откроется окно с полученными данными, которые Вы можете просмотреть и изменить. После нажатия на кнопку <strong style="color: #5ca1e2;">&laquo;Сохранить&raquo;</strong> текущие данные профиля будут изменены.</p>
</div>
<div class="span12">
    <div class="span5 pull-left">
        <img src="@Url.Content("~/Images/cabinet_instr_fiz.png")"/>
    </div>
    <div class="span5 pull-right">
        <img src="@Url.Content("~/Images/cabinet_instr_ul.png")"/>
    </div>

</div>
<div class="row-fluid">
    @Html.ActionLink(InstructionsViewStrings.ButtonContents, "Index", "Support",null, new {@class = "btn btn-primary btn-large pull-right"})
</div>