@using DT.PCP.Web.Resources.Views.Home
@model DT.PCP.Web.ViewModels.Home.HomeViewModel
<div style="line-height: 20px">
    <form style="margin-bottom: 0">
        <input id="car_number" type="text" rel="tooltip" data-placement="top" data-trigger="manual" data-title="@HomeViewsStrings.ValidationCarNumber" placeholder="@HomeViewsStrings.PlaceholderCarNumber" name="car_number" style="margin-top: 15px" />
        <input id="car_passport_number" type="text" rel="tooltip" data-placement="top" data-trigger="manual" data-title="@HomeViewsStrings.ValidationCarPassportNumber" placeholder="@HomeViewsStrings.PlaceholderCarPassportNumber" name="car_number" style="margin-top: 15px" />
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
